.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  background: #fff;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  gap: 50px;
  font-synthesis: none;
  border-left: 1px solid #cfd9de;
  border-right: 1px solid #cfd9de;
  border-bottom: 1px solid #cfd9de;
  width: 100%;
}

.home-container .contents {
  flex: 2;
  position: relative;
  margin: 0 15px;
}
.home-container .side-bar {
  flex: 1;
  border: 1px solid grey;
}

.tweet .user-image {
  flex: 1;
}
.tweet .tweet-form {
  flex: 5;
}
.tweet-form .save-tweet {
  background-color: #1d9bf0;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.round-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.round-image-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.tweet-form .tweet-text {
  border: 1px solid #cfd9de;
}
.commentIcon {
  cursor: pointer;
}
.display-message {
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  /* top: 100px; */
  /* text-align: center; */
  top: 30px;
  color: #1d9bf0;
  border: 1px solid #1d9bf0;
}

/* common */
.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.align-self-end {
  align-self: end;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.p-10 {
  padding: 10px;
}
.pe-20 {
  padding-right: 20px;
}
.pe-10 {
  padding-right: 10px;
}
.text-center {
  text-align: center;
}

.tweet-search {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tweet-content {
  border-bottom: 1px solid rgb(207, 207, 207);
  padding-left: 10px;
}

.search-tweets {
  padding-left: 30px;
  padding-right: 30px;
}

.search-user {
  margin: inherit !important;
}

.user-link {
  text-decoration: none;
  color: inherit;
}
