:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.trends-wrapper {
  width: 100%;
  max-width: 350px;
  min-width: 220px;
  margin-right: 50px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 8px;
  float: right;
}

.search-input {
  /*background-color: #eff3f4;*/
  border: 1px solid #cfd9de;
  border-radius: 9999px;
  padding: 6px 20px;
  width: calc(100% - 32px);
  font-size: 15px;
  outline: none;
  color: #0f1419;
  height: 40px;
}

.trends-card {
  border-radius: 16px;
  padding: 16px;
  margin-top: 55px;
  border: 1px solid #cfd9de;
}

.trends-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #0f1419;
}

.trend-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
  border-radius: 12px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.trend-row:hover {
  background-color: #eff1f1;
}

.trend-meta {
  font-size: 13px;
  color: #536471;
  display: block;
}

.trend-title {
  font-size: 15px;
  font-weight: 700;
  margin: 2px 0;
  color: #0f1419;
}

.trend-count {
  font-size: 13px;
  color: #536471;
}

.dots {
  font-size: 20px;
  color: #536471;
  padding-left: 12px;
  line-height: 1;
}

/* New design */
.container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  column-gap: 30px;
}

.trends-wrapper {
  flex: 1;
}
.wrapper {
  flex: 2;
}
