.navbar {
  background: #ffffff;
  border-bottom: 1px solid #cfd9de;
  min-width: -webkit-fill-available;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: #191919;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar-links a {
  color: #060606;
  text-decoration: none;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.15s;
}

.navbar-links a:hover {
  background: #cfd9de;
}

/* new design */
.navbar-logo {
  flex: 1;
  text-align: center;
}
.navbar-links {
  flex: 2;
  display: flex;
  line-height: 60px;
  text-align: center;
}
.navbar-links a {
  flex: 1;
}
.navbar-links .active-page {
  border-bottom: 5px solid #1d9bf0;
}
